# .gitignore
# Игнорируем виртуальное окружение Python
venv/
.env

# Игнорируем кэш Python
__pycache__/
*.py[cod]

# Игнорируем файлы IDE
.idea/
.vscode/

# Игнорируем логи и временные файлы
*.log
*.tmp

/frontend/node_modules
/frontend/dist
